<!DOCTYPE html>
<html>

<head lang="en">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">

	<title>EVM-BABBLE</title>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
	<link href="../stylesheets/styles.css" rel="stylesheet">
</head>

<body>

    {{>header}}

    <div class="main-content">
        {{{ body }}}    
    </div>            


	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="../javascripts/json-bigint.js"></script>
</body>
</html>
